
OTHER_LDFLAGS = $(inherited) -framework Accelerate -framework CoreData -framework CoreGraphics -framework CoreImage -framework CoreLocation -framework CoreTelephony -framework CoreText -framework GLKit -framework ImageIO -lc++ -lz -framework OpenGLES -framework QuartzCore -framework SystemConfiguration -framework Metal -framework GoogleMaps -framework GoogleMapsBase -framework GoogleMapsCore -framework GooglePlaces

WARNING_CFLAGS = -Wno-arc-performSelector-leaks
