// Specify Titanium SDK version used to build
TITANIUM_SDK_VERSION = 7.0.1.GA

// Link Titanium SDK
TITANIUM_SDK = ~/Library/Application Support/Titanium/mobilesdk/osx/$(TITANIUM_SDK_VERSION)
TITANIUM_BASE_SDK = "$(TITANIUM_SDK)/iphone/include"
TITANIUM_BASE_SDK2 = "$(TITANIUM_SDK)/iphone/include/TiCore"

// Support Cocoapods
#include "Pods/Target Support Files/Pods-ti.googlemaps/Pods-ti.googlemaps.debug.xcconfig"
#include "Pods/Target Support Files/Pods-ti.googlemaps/Pods-ti.googlemaps.release.xcconfig"

HEADER_SEARCH_PATHS = $(inherited) $(TITANIUM_BASE_SDK) $(TITANIUM_BASE_SDK2)
